body{
    background-color:#0A192F;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand1{
    flex: 1;
    padding-left: 20px;
    color: crimson;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}
.brand1:hover{
    color: palevioletred;
}
.brand2{
    flex: 2;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #CCD6F6;
    font-family:'Courier New', Courier, monospace;
}
.ha{
    color:#CCD6F6 ;
}
.haa{
    color:#CCD6F6 ;
}
.haaa{
    color:#CCD6F6 ;
}
.brand2 .ab:hover{
    color: palevioletred;
}
.brand2 .con:hover{
    color:palevioletred;
}
.brand2 .pr:hover{
    color: crimson;
}
.brand2 .h:hover{
    color: crimson;
}
.brand3{
    flex: 1;
    text-align: end;
    padding-right: 20px;
}
.image{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 70px;
}
.imgpeters{
    border-radius: 50%;
}
.btn1{
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color:palevioletred;
    color: white;
    font-family:'Courier New', Courier, monospace;

}
.btn1:hover{
    background-color: crimson;
}
.bio h1, .bio h2{
    color: crimson;
    margin-top: 0;
}
.bio h1:hover{
    color: palevioletred;
}
.bio h2:hover{
    color: palevioletred;
}
.about{
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    color: crimson;
    margin-top: 50px;
}
.mi:hover{
    color: white;
}
.abm:hover{
    color: white;
}
.vi:hover{
    color: white;
}
.mission{
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.vision{
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.about-me{
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    
}
.about1:hover{
    color: crimson;
}
.about p{
    color: palevioletred;
    font-size: 25px;
}
.project{
    text-align: center;
    line-height: 50px;
    margin-top: 150px;
}
.project1{
    color:#CCD6F6 ;
    font-family:'Courier New', Courier, monospace;
}
.project2{
    display: flex;
}
.netflix{
    flex: 1;
    background-image: url("./netflixpic.png");
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s;
}
.netflix:hover{
    transform: scale(1.4,1.8);
}
.signup{
    flex: 1;
    background-image: url(./sign2.png);
    height: 300px;
    background-size:contain;
    background-repeat: no-repeat;
    transition: all .3s;
}
.signup:hover{
    transform: scale(1.4,1.8);
}
.toggle{
    flex: 1;
    background-image: url("./tog2.png");
    height: 300px;
    background-size:contain;
    background-repeat: no-repeat;
    transition: all .3s;
}
.toggle:hover{
    transform: scale(1.4,1.8);
}
.about1{
    color:#CCD6F6 ;
    font-family:'Courier New', Courier, monospace;
}
.contact{
    text-align: center;
    margin-top: 250px;
    background-color: peru;
    padding: 10px 20px;
}
.contact1:hover{
    color: crimson;
}
.contact1{
    color: #CCD6F6;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family:'Courier New', Courier, monospace;
}
.contact2{
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}
.cond{
    color: white;
    font-size: 20px;
}
.whts{
    color: green;
}
.fb{
    color: blue;
}
.gits{
    color: red;
}
.lik{
    color: blue;
}
.inst{
    color: sienna;
}
/* footer{
    font-size: 15px;
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    background: black;
    height: 50px;
}
footer:hover{
    color: crimson;
} */